{% extends 'home.html' %}

{% block content %}


<div class="row">
    <div class = "container">
		<div class="card card-body">
			<form method="POST">
				{% csrf_token %}
			    {{form1.as_p}}
            <button type="submit" class="btn btn-primary col-lg-2">Submit Form</button>
			</form>
		</div>
        {% for i in connection %}
            <tr>
                <td>email: {{i.email}}  .........     phone number: {{ i.phone_number }}</td>
                <br>
            </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}